.objUserNome{
    margin-bottom: -15px;
    margin-left: 25px;
}

.objUserEmail{
    margin-bottom: -15px;
    margin-left: 25px;
}

body .navbar-light .navbar-toggler-icon {
    background-image: url("../../assets/barras.png");
}